.loader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100dvh;
    
    background: rgb(149, 215, 169);
    background: linear-gradient(
        45deg,
        rgba(199, 236, 210, 1),
        rgba(255, 255, 255, 1)
    );
}
