.loader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100dvh;
    
    background: rgb(235, 235, 235);
    background: linear-gradient(
        45deg,
        rgb(235, 238, 236),
        rgb(142, 234, 171)
    );
}
