.waterList {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}

@media (min-width: 768px) {
    .waterList {
        max-width: 600px;
        gap: 32px;
    }
}

@media (min-width: 1440px) {
    .waterList {
        gap: 16px;
    }
}
