.googleBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.googleBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 30px;
    background-color: var(--white);
    /* background-color: var(--accent); */
    transition: all 700ms ease;

}

.googleBtn:hover,
.googleBtn:active {
    animation: pulse 300ms ease-in-out 2;
    background-color: var(--light-gray-transparent);
    /* transform: scaleX(1.5); */
}

@keyframes pulse {

    0%,
    100% {
        transform: scaleX(1);
    }

    50% {
        transform: scaleX(1.2);
    }
}

.googleSvg {
    width: 50px;
    height: 50px;
}