.containerPageUp{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 16px;
}

.containerHomeUp{
    display: flex;
    flex-direction: column;
gap: 16px;
}

@media only screen and (min-width: 1440px) {
  .containerHomeUp {
    flex-direction: row;
    gap: 32px;
  }
}