.welcome {
    background-color: var(--light-gray);
    border-radius: 30px;
    padding: 24px 16px 67px;
}

@media (min-width: 768px) {
    .welcome {
        padding: 32px 32px 50px;
    }
}

@media (min-width: 1440px) {
    .welcome {
        position: relative;
        width: 672px;
        padding: 32px 32px 188px;
    }
}