.container {
    min-width: 320px;
    max-width: 375px;
    padding: 16px;
    margin: 0 auto;
    padding-top: 0;
}

@media only screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 32px;
        padding-top: 4px;
    }
}

@media only screen and (min-width: 1440px) {
    .container {
        max-width: 1440px;
        padding: 32px;
        padding-top: 4px;
    }
}