.waterDetailedInfoWrapper {
    background-color: var(--light-gray);
    min-width: 320px;
    max-width: 375px;
    padding: 16px;
    margin: 0 auto;
    border-radius: 30px;
}
@media only screen and (min-width: 768px) {
    .waterDetailedInfoWrapper {
        max-width: 768px;
        padding: 32px;
    }
}

@media only screen and (min-width: 1440px) {
    .waterDetailedInfoWrapper {
        max-width: 1440px;
        padding: 32px;
    }
}
