.waterDetailedInfoWrapper {
    background-color: var(--light-gray);
    padding: 40px 20px;
    border-radius: 30px;
}
@media (min-with: 768px) {
    .waterDetailedInfoWrapper {
        padding: 32px 32px 35px 32px;
    }
}

@media (min-with: 1440px) {
    .waterDetailedInfoWrapper {
        max-width: 672px;
        min-height: 100%;
        padding: 32px 32px 33px 32px;
    }
}
