.item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    min-width: 149px;
    max-height: 74px;
    padding: 18px 14px;
    background-color: var(--white);
    border-radius: 15px;
}

.svg_glass {
    width: 38px;
    height: 38px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
}

.info_ml {
    font-size: 13px;
    line-height: 1.49;
    font-weight: 700;
}

.info_time {
    font-size: 11px;
    line-height: 1.87;
    color: var(--grey-text);
}

.btns {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.btn {
    border: none;
    background-color: var(--white);
    padding: 0;
}

.svg_edit,
.svg_trash {
    width: 14px;
    height: 14px;
    fill: var(--white);
    stroke: var(--dark-blue);

    transition: stroke var(--animation);
}

.svg_edit:hover,
.svg_edit:active,
.svg_trash:hover,
.svg_trash:active {
    stroke: var(--accent);
}

@media (min-width: 768px) {
    .item {
        min-width: 192px;
        max-height: 86px;
        padding: 20px;
        gap: 20px;
    }

    .svg_glass {
        width: 44px;
        height: 45px;
    }

    .svg_edit,
    .svg_trash {
        width: 16px;
        height: 16px;
    }

    .info_ml {
        font-size: 14px;
    }
}

@media (min-width: 1440px) {
    .item {
        min-width: 192px;
        max-height: 86px;
        padding: 20px;
        gap: 20px;
    }
}
