.btnbox{
    border-radius: 30px;
    padding: 14px 20px;
    width: 140px;
    height: 46px;
    background-color: #323f47;

    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    margin-left: auto;

    border: none;
    color: #fff;
    stroke: #fff;
}

.btnbox:hover{
    color: #9be1a0;
    stroke:#9be1a0 ;
    
}

@media only screen and (min-width: 768px) {
.btnbox {
    padding: 18px 30px;
    width: 178px;
    height: 60px;
  }
}

 .btntext{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.01em;
    text-align: center;
}


@media only screen and (min-width: 768px) {
.btntext{
    font-size: 16px;
    line-height: 1.5;
  }
} 

@media only screen and (min-width: 768px){
    .btnicon{
        width: 24px;
        height: 24px;
    }
}