.lang {
    display: flex;
    gap: 4px;
    margin-left: 10px;
}

.langBtn {
    /* width: 22px;
    height: 22px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 50px;
    background-color: inherit;
    border: none;
    transform: scale(1);

    transition: transform var(--animation);
}

.langBtn:hover,
.langBtn:active {
    transform: scale(1.2);
}

.modal {
    display: flex;
    flex-direction: column;
}

.modalBtn {
    display: flex;
    border: none;
    background-color: inherit;
    padding: 0;
    margin: 0 0 0 15px;
}

.arrowIcon {
    fill: transparent;
    stroke: #323f47;
    width: 24px;
    height: 24px;
    margin-left: 4px;
    transition: transform 0.3s ease; /* Анімація обертання */
}

.rotated {
    transform: rotate(180deg); /* Обертаємо стрілку на 180 градусів */
}

@media (min-width: 768px) {
    .lang {
        margin-right: 15px;
    }

    .icon {
        width: 32px;
        height: 32px;
    }
}

@media (min-width: 1440px) {
    .lang {
        margin-right: 25px;
    }

    .icon {
        width: 42px;
        height: 42px;
    }
}
