.container {
    padding-top: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flagBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media screen and (min-width: 768px) {
    .container {
        padding-top: 32px;
    }
}
.lang {
    display: flex;
    gap: 6px;
    margin-left: 10px;
}

.langBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 50px;
    background-color: inherit;
    border: none;
    transform: scale(1);
    transition: transform var(--animation);
    position: relative;
}

.langBtn:hover,
.langBtn:active {
    transform: scale(1.1);
}

.modal {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30px;
    left: 4px;
    z-index: 100;
}

.modalBtn {
    display: flex;
    border: none;
    background-color: inherit;
    padding: 0;
    margin: 0;
    transition: transform;
}

.arrowIcon {
    fill: transparent;
    stroke: #323f47;
    width: 24px;
    height: 24px;
    margin-left: 4px;
    transition: transform 0.3s ease;
}

.rotated {
    transform: rotate(180deg);
}

@media (min-width: 768px) {
    .lang {
        margin-right: 15px;
    }

    .icon {
        width: 32px;
        height: 32px;
    }
}

@media (min-width: 1440px) {
    .lang {
        margin-right: 25px;
    }

    .icon {
        width: 42px;
        height: 42px;
    }
}
