.waterBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    gap: 9px;
    transition: background-color var(--animation);
}

.svgAdd {
    background-color: var(--accent);
    border-radius: 100px;
    stroke: var(--dark-blue);
    width: 30px;
    height: 30px;

    transition: stroke var(--animation);
}

.plus {
    max-width: 22px;
    max-height: 22px;
}

.waterBtn:hover .svg,
.waterBtn:active .svg {
    stroke: var(--white);
}

.btnText {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5em;
    letter-spacing: 0.01em;
}
