:root {
    --dark: #2f2f2f;
    --dark-blue: #323f47;
    --accent: #9be1a0;
    --accent-secondary: #87d28d;
    --light-gray: #f0eff4;
    --light-gray-transparent: #f0eff466;
    --white: #ffffff;
    --userbar-color: #323f4766;
    --secondary-text: #bcbcbc;
    --error: #ef5050;
    --grey-text: rgba(47, 47, 47, 0.6);
    --calendarItemColor: rgba(50, 63, 71, 0.2);
    --color-light-grey: rgba(50, 63, 71, 0.4);
    --border-color: rgba(47, 47, 47, 0.2);
    --active-border-color: rgba(47, 47, 47, 0.4);
    --disabled-color: #E6E6E6;
    --google-color: #e9e9e9;
    --animation: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}