.calendarWrapper {
    display: grid;
    grid-template-columns: repeat(7, minmax(auto, 1fr));
    gap: 20px 18px;
    padding: 0;
    margin: 0;
}

@media screen and (min-width: 768px) {
    .calendarWrapper {
        grid-template-columns: repeat(8, 1fr);
        gap: 15px 48px;
    }
}

@media screen and (min-width: 1440px) {
    .calendarWrapper {
        gap: 15px 43px;
    }
}
